ol {

}
.body{
    font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;
}

.logo{
    position: absolute;
    top: 17px;
    display: inline-block;
    border: none;
    left: 0;
}
.logo img{
    width: 82px;
    height: 32px;
}
.img {
    position: relative;
    display: inline-block;
    border: none;
}
.header {
    height: 65px;
    border-bottom: 6px solid #3F51B5;
    background-color: #fff;
    color: #fff;
}
.nav{
    top: 0px;
    border: 90px;
    position: absolute;
    background-color: #ffffff;
    float: right;
 }
.nav-setup{
    margin-left: 0px;
    position: relative;
    display: inline-block;
    top: -6px;
}
.nav-state{
    height: 51px;
    line-height: 43px;
    top: 14px;
    border: 90px;
    position: absolute;
    right: 0px;
    background-color: #ffffff;
    display: inline-block;
}
.nav-state img{
    height: 50px;
}
.nav-state a{
    display: inline-block;
    height: 45px;
}
.nav-icon{

}

.nav-state a cite{
    margin-left: 14px;
    display: inline-block;
    font-size: 21px;
    top: -6px;
    position: relative;
    cursor: pointer;
}

.layui-nav-item a {
    font-size: 22px;
    font-family: '微软雅黑 Light';
    color: #000000   !important;
}
.layui-nav-item a:hover{
    font-size: 22px;
    font-family: '微软雅黑 Light';
    color: #1E9FFF   !important;
}
.layui-nav-item .layui-this:after {
    background-color: #1E9FFF !important;
    bottom: -10px;
}

.page-title-circle {
    margin-left: 5px;
    position: relative;
    font-size: 20px !important;
    line-height: 41px;
    margin: 20px 15px 30px;
    border: 1px solid #1E9FFF;
    padding-left: 41px;
    width: 17%;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 43px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 41px;
    box-shadow: 7px 8px 12px #888888;
    min-width: 130px;
}

.site-block {
    padding: 20px;
    border: 1px solid #8bc34a;
}

.site-text{
    width: 50%;
    position: relative;
    min-width: 500px;
    margin-left: 13px;
}

.layui-form-label{
    font-size: 15px !important;
}

#hunman-check{
 width: 50%;
}

.form-input {
    width: 50%;
}
.form-text{
    position: absolute;
    left: 185px;
    top: 15px;
    color: red;
    font-size: 20px;
    width: 38%;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    line-height: 11px;
}

.side-bar{
    position: relative;
    width: 57%;
    float: left;
}

.side-tips{
    min-width: 400px;
    top: 25px;
    min-height: 485px;
    position: relative;
    margin-left: 14px;
    border: 1px solid #e6e6e6;
    float: left;
    width: 40%;
    height: 70%;
    padding-left: 1px;
    max-width: 460px;
    box-shadow: 10px 10px 20px #e5e5e5;;
}

.page-title-line{
    position: relative;
    display: inline-block;
    max-width: 100px;
    font-size: 20px;
    margin:20px 15px 30px ;
    line-height: 41px;
}



.side-tips-text{
    font-size: 20px;
    font-weight:normal;
    font-family:Georgia, serif;
    text-indent:2em;
    padding: 16px;

}


@media screen and (min-width:800px) {

    .iconfont {
        top: 6px;
        left: 133px;
        font-family: "iconfont" ;
        font-size: 23px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        padding-left: 20px
    }
    .page-main{
        height: 748px;
        padding: 0 12px;
    }
    .topic-btn {
        position: absolute;
        right: 0px;
        display: inline-block;
    }

    .main {
        position: relative;
        width: 1156px;
        margin: 0 auto 15px;
        min-height: 809px;
        top: 14px;
        padding-left: 0px;
    }

    .topic-panel {
        width: 820px;
        min-height: 900px;
        float: left;
        margin-right: 309px;
    }

    .warp {
        float: left;
        width: 100%;
        min-height: 300px;
    }
    .topic-reply-at{
        display: block;
        margin-top: 9px;
        font: 22px/0.5 tahoma, arial, 宋体;
        color: #03A9F4;
    }
    .topic-tab {
        position: relative;
        margin-bottom: 20px;
    }

    .topic-tab span {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #009E94;
        border-right: none;
        font-size: 0;
    }

    .topic-tab span a {
        height: 40px;
        line-height: 42px;
        padding: 0 20px;
        border-right: 1px solid #009E94;
        font-size: 14px;
        text-decoration: none;
        Display: inline-block;

    }

    .form-search {
        position: relative;
        margin-left: 27px;
        display: inline-block;
    }
    .form-search i{
        position: absolute;
    }

    .topic-list-panel {
        min-height: 1250px;
        display: block;
        position: relative;
        top: 15px;
        width: 100%;
    }

    .topic-list-panel li {
        position: relative;
        height: 41px;
        margin-top: 8px;
        padding: 0 0 8px 60px;
        border-bottom: 1px solid #E9E9E9;
    }

    .list-avatar {
        position: absolute;
        left: 0;
        top: 0;
    }

    .list-tip  a {
        width: 50%;
        display: inline-block;
        max-width: 86%;
        margin-right: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
    }

    .list-tip {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 20px;
        width: 95%;
        position: relative;
    }


    .list-avatar img {
        width: 48px;
        height: 48px;
        border-radius: 100%;
    }

    .topic-list-depict {
        position: relative;
        margin-left: 20px;
        margin-top: 4px;
    }

    .topic-list-depict a {
        font-size: 16px;
        position: relative;
        margin-top: 14px;
        color: #8bc34a;
    }

    .topic-list-depict span {
        display: inline-block;
        position: relative;
        margin-top: -5px;
    }

    .edge {
        position: relative;
        float: left;
        top: 0;
        width: 311px;
        margin-left: -285px;
    }

    .edge h3 {
        width: auto;
        margin: 0;
        line-height: 38px;
        padding: 0 15px;
        border: none;
        background-color: #77d04b;
        border-radius: 11px 11px 0px 0px;
    }

    .page-title {
        margin: 4px 0 23px;
        line-height: 41px;
        border-bottom: 2px solid #E9E9E9;

    }
    .page-message{
        padding-left: 21px;
        margin: 15px 0px;
        height: 31px;
        width: 100%;
        background-color: #f1f1f1;
        color: black;
        line-height: 29px;
    }
    .message-info{
        padding-left: 21px;
        height: 31px;
        border-bottom: 1px dotted #DFDFDF;
    }
    .message-info-user{
        margin: 0px 6px;
        font-size: 17px;
        color: #03A9F4;
    }
    .message-info-topic{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 197px;
        margin-right: 27px;
        color: #2196F3;
        font-size: 17px;
        display: inline-block;
    }

    .page-title h2 {
        font-size: 22px;
        font-family: monospace;
        margin-bottom: -2px;
    }

    .page-main {
        padding: 0 12px;
    }

    .form-bottom-fill {
        border: 1px solid #e2e2e2;
        border-radius: 2px 0 0 2px;
        text-align: center;
        background-color: #FBFBFB;
        height: 20px;
        margin-bottom: 20px;
    }

    .layui-layedit-tool {
        width: auto;
        background: #FBFBFB;
        height: 37px;
        border-radius: 2px;
    }

    .user-tab {
        padding-top: 23px;

    }

    .user-depict {
        width: 100% !important;
        display: inline-block;
        background-color: #fbfbfb;
        height: 28px;
        border-radius: 1px;
    }

    .user-depict p {
        margin: 4px;
    }
    .conten-detail{
        min-height: 900px;
        width: 74%;
        margin-right: 272px;
        float: left;
    }
    .conten-detail h1{
        font-size: 24px;
        line-height: 30px;
        padding: 5px 0
    }
    .topic-tip{
        width: 95%;
        display: block;
        height: 37px;
        background-color: #77d04b;
        margin-bottom: 20px;
    }
    .topic-tip a{
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 95%;

    }
    .topic-about{
        width: 95%;
        height: 81px;
        background-color: #E9E9E9;
        opacity: 0.8;
    }
    .topic-author-avatar img {
        width: 82px;
        position: relative;
        display: inline-block;
        border: none;
        height: 80px;
    }
    .edge-active-avatar  img {
        box-shadow: 0px -1px 16px 0px #5d5c56;
        margin: 3px 3px;
        width: 65px;
        position: relative;
        display: inline-block;
        border: none;
        height: 65px;
    }
    .topic-author-avatar  {
        z-index: 99;
        width: 82px;
        position: relative;
        display: inline-block;
        border: none;
        height: 80px;
    }
    .topic-about-view{
        margin-left: 20px;
        width: 82px;
        height: 80px;
        position: relative;
        display: inline;
        top: -19px;
        font-size: 20px;
    }
    .topic-about-view cite{
        font-style:normal;
    }
    .user-level-1{
        color: #FF7200;
        margin-left: 0px;
    }
    .user-name{
        text-overflow: ellipsis;
        width: 78px;
        display: inline-block;
        color: #375395;
    }
    .topic-create{
        margin-left: 20px;
        color: #4E5465;
    }
    .topic-about-view em{
        font-style: normal;
        display: block;
        margin-left: 102px;
        margin-top: -19px;
    }
    .topic-content{
        max-height: 595px;
        width: 95%;
        margin: 6px 3px;
        font: 19px/1.5 tahoma, arial, 宋体 !important;
        font-style: normal;
        padding-top: 20px;
    }
    .topic-content p{
        text-indent:2em
    }
    .topic-common-list{
        margin-top: 20px;
        width: 95%;
    }
    .topic-common{
        margin-bottom: 25px;
        min-height: 99px;
        width: 100%;
        border-bottom: 1px dotted #DFDFDF;
    }
    .topic-common-avatar img{
        float: left;
        width: 52px;
        position: relative;
        display: inline-block;
        border: none;
        height: 52px;
    }
    .author-content{
        position: relative;
        display: inline;
        width: 100px;
    }
    .user-info{
        line-height: 16px;
        font-family: "Sitka Heading";
        display: inline-block;
        font-size: 24px;
        width: 85%;
        margin-left: 15px;
        position: relative;
        margin-top: 0px;
    }
    .user-info a{
        font-family: "Sitka Heading";
        display: inline;
        font-size: 22px;
    }
    .reply-time{
        color: #0e7bcb;
        font-style: oblique;
        font-size: 15px;
        margin-left: 20px;
        width: 124px;
        display: inline-block;
    }
    .user-medal{
        align-content: center;
        display: block;
        margin-top: 11px;
    }
    .reply-content{
        margin-top: 9px;
        font: 19px/1.5 tahoma, arial, 宋体;
    }
    .topic-content{
        min-height: 428px;
    }
    .topic-content p{
        font: 19px/1.5  宋体 !important;
    }
    .cite{

    }
    .common-header{
        margin-bottom: 25px;
        min-height: 41px;
        width: 95%;
        border-bottom: 2px dotted rgb(227, 95, 19);
    }
    .common-header p{
        padding-left: 0px;
        font: 19px/1.5 宋体;
        color: red;
        padding-top: 7px;
        margin: 0 auto;
    }
    .reply-ups{
        cursor:Pointer;
        margin-left: 30%;
        display: inline;
    }
    .reply-ups em{
        margin-left: 2px;
    }
    .reply-at{
        display: inline;
        margin-left: 10%;
        cursor: pointer;
    }
    .reply-editor{
        margin-top: 9px;
        margin-bottom: 13px;
    }

    .editor-seat{
        height: 395px;
        margin-top: 9px;
        margin-bottom: 13px;
    }
    .page{
        display: inline-block;
        vertical-align: middle;
        padding: 4px 19px;
        border: 1px solid #e2e2e2;
        height: 37px;
        line-height: 34px;
        margin: 0 0px -1px 0;
        color: #333;
        font-size: 12px;
    }
    .topic-list-name{
        margin-left: 0px!important;
        width: 250px;
    }
    .topic-list-good{
        color: white;
        margin-left: 2%;
        background: #FFC107;
        font-size: 16px;
        border: 1px solid #FFC107;
        top: 0;
        cursor: pointer;
    }
    .topic-list-top{
        color: white;
        margin-left: 2%;
        background: rgb(139, 215, 70);
        font-size: 16px;
        border: 1px solid #14bc11;
        top: 0;
        cursor: pointer;
    }

    .topic-list-tab{
        margin-left: 2%;
        background: #ffffff;
        font-size: 16px;
        border: 0px solid #100d0d;
        box-shadow: 2px -1px 7px 2px #9f9f9f;
        top: 0;
        cursor: pointer;
    }
    .topuc-list-date{
        width: 137px;
        color: #2D93CA;
    }
    [v-cloak]{
        display: none;
    }
    .vip i{

    }
    .vip-text{
        display: inherit;
    }
    .topic-ups-active{
        color:red;
    }
    .topic-update{
        margin-left: 4%;
    }
    .author-name{
        text-overflow: ellipsis;
        max-width: 108px;
        display: inline-block;
    }
    .topic-list-hint{
        color: #7a80a3;
        float: right;
        position: relative;
    }
    .topic-list-hint i{
        font-size: 17px;
        margin-right: 6%;
        position: relative;
        top: -3px;
        color: black;
    }
    .hint-comment{
        width: 51px;
        font-size: 25px!important;
        display: inline-block;
    }
    .hint-view{
        width: 63px;
        font-size: 25px!important;
        display: inline-block;
    }
    .common-icon{
        font-size: 28px!important;
    }
    .search-iconfont{
        top: 1px;
        font-size:27px!important;
    }
    .nav-iconfont{
        font-size:25px!important;
    }
    .icon-set{
        margin-left:-10px;
    }
    .new-editor{
        margin-bottom: 25px;
        min-height: 99px;
        width: 100%;
        border-bottom: 1px dotted #DFDFDF;
    }
    .new-editor-bottom{
        margin: 7px auto;
    }
    .page-content{
        width: 60%;
        min-height: 812px;
    }
    .page-menu{
        display: inline-block;
        vertical-align: top;
        border: 1px solid #009E94;
        border-right: none;
        font-size: 0;
    }
    .page-menu a{
        height: 40px;
        line-height: 42px;
        padding: 0 20px;
        border-right: 1px solid #009E94;
        font-size: 14px;
        text-decoration: none;
        Display: inline-block;
    }
    .edge-content{
        width: auto;
        height: 339px;
        background: #f6f6f6;
        margin-bottom: 25px;
    }
    .edge-content-text {
        padding: 11px 17px;
        font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
        font-size: 20px;
    }
    .edge-content-text  a{
        width: 100%;
        display: inline-block;
        font-size: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .edge-content-text {
        padding: 11px 17px;
        font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
        font-size: 20px;
    }
    .edge-active-user{
        margin: 0px 8px;
        display: inline-block;
        height: 62px;
    }
    .edge-content-active{
        height: 303px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        background: #f6f6f6;
        margin-bottom: 25px;
    }
    .edge-content-text li {
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
    }
    .footer {
        margin: 50px 0px -4px;
        display: inline-block;
        height: 81px;
        width: 100%;
        background: rgb(108, 115, 120);
        position: relative;
    }
    .footer  p{
        line-height: 30px;
        text-align: center;
    }
    .footer  a{
        padding: 0 6px;
       color: white;
    }


}