extends layout


block content
        script(type='text/javascript', src='/js/layui.js')
        script(type='text/javascript', src='/js/lay/modules/index.js')
        .layui-header.header
            .layui-main
                a.logo(href='/')
                    img(src='http://res.layui.com/images/layui/logo-1.png', alt='layui')
                ul.layui-nav.nav.layui-nav-item
                    li.layui-nav-item
                        a(href='') 主页
                    li.layui-nav-item.layui-this
                        a(href='') 产品
                    li.layui-nav-item
                        a(href='') 解决方案
                    li.layui-nav-item
                        a(href='') 大数据
        block main
