extends header

block main
     .layui-main
      .side-bar
       h2.page-title-circle 注册页面
       .site-block.site-text
        .layui-form
         form(action='/signup', method='POST')
          .layui-form-item
            label.layui-form-label 用户账号
            .layui-input-inline
             input.layui-input(type='text', name='loginname', required='', lay-verify='required', placeholder='请输入账号',autocomplete='on')
            .layui-form-mid.layui-word-aux *将作为唯一登录名
          .layui-form-item
           label.layui-form-label 邮箱
           .layui-input-inline
            input.layui-input(type='email', name='email', required='', lay-verify='required', placeholder='请输入邮箱',autocomplete='on')
           .layui-form-mid.layui-word-aux *将用做账号找回
          .layui-form-item
           label.layui-form-label 密码框
           .layui-input-inline
            input.layui-input(type='password', name='password', required='', lay-verify='required', placeholder='请输入密码', autocomplete='off')
           .layui-form-mid.layui-word-aux *6位以上字母数字组合以上
          .layui-form-item
           label.layui-form-label 昵称
           .layui-input-block.form-input
            input.layui-input(type='text', name='username', required='', lay-verify='required', placeholder='请输入昵称')
          .layui-form-item
           label.layui-form-label 人类验证
           .layui-input-block.form-input
            input.layui-input.form-input(type='text', name='check', required='', lay-verify='required', placeholder='请输入左侧答案')
            .form-text 1 + 1 = ?
          span.layui-input-block
           button.layui-btn(type='submit') 立即提交
           button.layui-btn(type='reset') 重置
      .side-tips
       h2.page-title-line 用户须知
       .side-tips-text
        p
         | 德玛西亚德玛西亚德玛西亚德玛西亚
         | 德玛西亚德玛西亚德玛西亚德玛西亚
         | 德玛西亚德玛西亚德玛西亚德玛西亚德玛西亚
         | 德玛西亚德玛西亚德玛西亚德玛西亚德玛西亚
