extends header

block main
    .main.layui-clear
        .warp
            .page-main
                .conten-detail
                    h1 么么哒
                    .topic-tip
                    .topic-about
                        a.topic-author-avatar(href='/u/336')
                            img(src='http://res.layui.com/images/fly/avatar/00.jpg', alt='纸飞机')
